.App {
  font-family: Helvetica;
  text-align: center;
}

.h2_homeview-user-names {
  font-family: Helvetica, sans-serif;
  text-transform: capitalize;
}

.link_home,
.link_home:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.h2_edit-profile {
  font-family: Helvetica, sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.h4_edit-profile {
  font-family: Helvetica, sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.label__edit {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  color: darkslategrey;
  margin-right: 20px;
  margin-bottom: 10px;
}

.input__edit {
  margin: 10px;
  height: 25px;
  border-radius: 4px;
}

.btn__edit {
  font-family: Helvetica, sans-serif;
  margin-top: 20px;
  background-color: grey;
  color: white;
  border-radius: 5px 20px 5px;
  width: 100px;
  height: 50px;
}

.link__edit {
  font-family: Helvetica, sans-serif;
  margin-top: 15px;
  margin-right: 25px;
  margin-bottom: 25px;
  color: darkblue;
  background-color: lightblue;
  border-radius: 5px 20px 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link_profile-view,
.link_profile-view:visited {
  font-family: Helvetica, sans-serif;
  color: black;
  text-transform: capitalize;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
